* {
    margin: 0;
    padding: 0;
    font-family: 'Recursive', sans-serif;
    
}

html {
    scroll-padding-top: 71px;
}

body {
    width: 100%;
}

#navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    top: 0;
    
    background-color: #e84e36;
    z-index: 10;
}

#navbar nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    
    column-gap: 3px;
    
    margin: auto 20px;
    width: 35%;
    height: 100%;
    justify-content: space-evenly;
    
    
}

#navbar #logo {
    margin: auto 20px;
    height: 100%;
    
}

a img {
    height: 100%;
}

li {
    list-style: none;
    font-size: 1.5rem;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    align-self: end;
    text-align: center;
    height: 75%;    
}


li a {
    display: flex;
    width: 100%;
    height: 100%;
    color: #e84e36;
    text-decoration: none;
    align-items: center;
    
}

ul li a p {
    width: 100%;
}





main {
    position: relative;
    margin: 0;
    padding: 0;
    top: 70px;
    width: 100%;
    height: 100%;

    
}

main section {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

main section header h1 {
    text-align: center;
}

#vision {
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(232, 78, 54, 0.5), rgba(232, 78, 54, 0.3)), url(./pexels-luis-gomes-546819.jpg);
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#vision h1 {

    position: absolute;
    color: white;
 
    margin-left: 10px;
    margin-top: 5px;
    width: fit-content;
}

#vision div {
    padding:0;
    margin:0;
    height: 100%;
    
    display: flex;
    align-items: center;
    
    justify-items: center;
}

#vision div p {
    color: white;
    
    margin: 0 auto;
    font-size: 4rem;
    
}

#projects {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    
}

#projects-title, #title-team {
    
    text-align: center;

    padding: 50px 0;
}

.company {
    position: relative;
    
    width: 20%;
    min-width: 350px;
    
      
}
.company .image {
    position: relative;
    display: flex;
    align-content: center;
    width: 100%;
    height: 300px;
    
    
}

.company .image img {
    
    position: relative;
    
    object-fit: contain;
    margin: 0 auto;
    width: 60%;
    
    
}

.company h2 {
   
   text-align: center;
}

.company p {
   
    text-align: center;
    padding-top: 3px;
 }

 #team {
     display: flex;
     flex-flow: row wrap;
     width: 100%;
     justify-content: center;
     
 }

 .member {
    width: 33%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
 }

.member p {
    text-align: center;
}

.member h2 {
    padding: 10px 0;
}


.img-container {
    
    width: 50%;
    height: 65%;
    display: flex;
    flex-shrink: 1;
    flex-flow: row nowrap; 
}

.img-container img {
    width: 100%;
    object-fit: contain;
    margin: auto auto 0 auto;
    border-radius: 50%;
}



